@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #DDA841CC;
  height: cover; }
  header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px; }
    header .navbar li {
      list-style: none; }
      header .navbar li a {
        text-decoration: none;
        color: black;
        font-size: 32px; }

.body-inicio {
  background-image: url(../assets/img/fondo_inicio_desk.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .body-inicio .titulo-inicio h1 {
    text-align: center;
    font-size: 64px;
    top: 167px;
    font-family: 'Georama'; }
  .body-inicio .titulo-inicio h2 {
    font-family: 'Georama';
    text-align: center;
    top: 243px; }
  .body-inicio .mates-inicio a img {
    position: absolute;
    height: 307px;
    left: 47px;
    top: 304px; }
  .body-inicio .mates-inicio h3 {
    text-align: center;
    position: absolute;
    height: 46px;
    left: 527px;
    top: 304px;
    font-family: 'Gowun Batang';
    font-weight: 700;
    font-size: 32px; }
  .body-inicio .mates-inicio p {
    position: absolute;
    height: 200px;
    left: 527px;
    top: 400px;
    font-family: 'Gotu';
    font-weight: 400;
    font-size: 32px; }
  .body-inicio .bombillas-inicio a img {
    position: absolute;
    height: 307px;
    left: 47px;
    top: 651px; }
  .body-inicio .bombillas-inicio h3 {
    position: absolute;
    height: 46px;
    left: 527px;
    top: 651px;
    font-family: 'Gowun Batang';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center; }
  .body-inicio .bombillas-inicio p {
    position: absolute;
    height: 198px;
    left: 527px;
    top: 716px;
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px; }

.body-mates {
  background-color: #FFD089; }

.main-mates {
  background-color: #FFD089;
  size: 100%; }
  .main-mates h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Gowun Batang';
    padding: 70px; }
  .main-mates .mates {
    font-family: 'Gowun Batang';
    font-size: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; }
    .main-mates .mates .imperial {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center; }
  .main-mates .camionero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; }
  .main-mates .camionero-eco {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; }

.body-bombillas {
  background-color: #FFD089; }

.main-bombillas h1 {
  text-align: center;
  font-size: 48px;
  font-family: 'Gowun Batang';
  padding: 70px; }

.main-bombillas .bombillas {
  font-family: 'Gowun Batang';
  font-size: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center; }
  .main-bombillas .bombillas .pico-de-loro-alpaca {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; }
  .main-bombillas .bombillas .bombillon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; }
  .main-bombillas .bombillas .pico-de-loro-de-acero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; }

.body-presentacion {
  background-color: #FFD089; }
  .body-presentacion .main-presentacion h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Gowun Batang';
    padding: 70px; }
  .body-presentacion .main-presentacion p {
    font-family: 'Georama';
    font-size: 48px;
    text-align: center; }

.body-contacto {
  background-image: url(../assets/img/fondo_presentacion_desk.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .body-contacto .main-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 90px;
    gap: 50px; }
    .body-contacto .main-contacto .instagram {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }
    .body-contacto .main-contacto .facebook {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }
    .body-contacto .main-contacto .wp {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }

@media (max-width: 768px) {
  header .navbar {
    flex-direction: column;
    padding: 10px;
    gap: 10px; }
    header .navbar li a {
      font-size: 22px; }
  .main-inicio .titulo-inicio {
    padding: 20px; }
    .main-inicio .titulo-inicio h1 {
      font-size: 40px; }
    .main-inicio .titulo-inicio h2 {
      font-size: 12px; }
  .main-inicio .mates-inicio {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-inicio .mates-inicio h3 {
      position: absolute;
      width: 139px;
      height: 29px;
      left: 125px;
      top: 215px;
      font-weight: 700;
      font-size: 20px; }
    .main-inicio .mates-inicio a img {
      position: absolute;
      width: 171px;
      height: 142px;
      left: 109px;
      top: 264px; }
    .main-inicio .mates-inicio p {
      font-size: 20px;
      position: absolute;
      width: 358px;
      height: 63px;
      left: 16px;
      top: 422px;
      font-family: 'Gotu'; }
  .main-inicio .bombillas-inicio h3 {
    position: absolute;
    width: 172px;
    height: 29px;
    left: 105px;
    top: 527px;
    font-size: 20px; }
  .main-inicio .bombillas-inicio a img {
    position: absolute;
    width: 179px;
    height: 129px;
    left: 106px;
    top: 568px; }
  .main-inicio .bombillas-inicio p {
    position: absolute;
    width: 358px;
    height: 84px;
    left: 16px;
    top: 733px;
    font-size: 20px; }
  .main-mates h1 {
    font-size: 20px; }
  .main-mates .comprar {
    font-size: 18px; }
  .main-mates .mates {
    display: flex;
    flex-direction: column;
    column-gap: 50px; }
    .main-mates .mates .imperial {
      padding: 20px; }
      .main-mates .mates .imperial img {
        width: 245px;
        height: 154.86px; }
      .main-mates .mates .imperial h3 {
        font-size: 15px; }
    .main-mates .mates .camionero {
      padding: 20px; }
      .main-mates .mates .camionero img {
        width: 245px;
        height: 154.86px; }
      .main-mates .mates .camionero h3 {
        font-size: 15px; }
    .main-mates .mates .camionero-eco {
      padding: 20px; }
      .main-mates .mates .camionero-eco img {
        width: 245px;
        height: 154.86px; }
      .main-mates .mates .camionero-eco h3 {
        font-size: 15px; }
  .main-bombillas h1 {
    font-size: 20px; }
  .main-bombillas .comprar {
    font-size: 18px; }
  .main-bombillas .bombillas {
    display: flex;
    flex-direction: column;
    column-gap: 50px; }
    .main-bombillas .bombillas .pico-de-loro-alpaca img {
      width: 245px;
      height: 154.86px; }
    .main-bombillas .bombillas .pico-de-loro-alpaca h3 {
      font-size: 15px; }
    .main-bombillas .bombillas .bombillon img {
      width: 245px;
      height: 154.86px; }
    .main-bombillas .bombillas .bombillon h3 {
      font-size: 15px; }
    .main-bombillas .bombillas .pico-de-loro-de-acero img {
      width: 245px;
      height: 154.86px; }
    .main-bombillas .bombillas .pico-de-loro-de-acero h3 {
      font-size: 15px; }
  .body-presentacion .main-presentacion h1 {
    font-size: 40px; }
  .body-presentacion .main-presentacion p {
    font-size: 25px; }
  .main-contacto {
    text-align: center;
    font-size: 16px; }
    .main-contacto .instagram img {
      padding: 15px; }
    .main-contacto .facebook img {
      padding: 15px; }
    .main-contacto .wp img {
      padding: 15px; } }
